{
   "/" : {
    "path" : "/",
    "security" : {
      "module" : "EMBEDED",
      "config" : {
        "users" : [ {
          "username" : "admin",
          "password" : "pwd",
          "roles" : [ "admin" ]
        }, {
          "username" : "support",
          "password" : "pwd",
          "roles" : [ "support" ]
        }, {
          "username" : "user",
          "password" : "pwd"
        } ]
      },
      "classPath" : [ ]
    },
    "langFolder" : "opt/lang",
    "homeDir" : "${user.dir}",
    "allowedCorsOrigins" : [ "*" ],
    "adminConsoleUrl" : "http://165.227.87.100:8090"
  },
    "/bookstore" : {
    "path" : "/bookstore",
    "enabled" : true,
    "name" : "My Application",
    "webHomeDir" : "${user.dir}",
    "webFolder" : "",
    "restrictedResources" : [ ],
    "langFolder" : "",
    "security" : {
      "module" : "NONE",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "uploadMaxSize" : 5,
    "maxClients" : 100,
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "monitorEdtEnabled" : true,
    "loadingAnimationDelay" : 2,
    "allowStealSession" : true,
    "autoLogout" : true,
    "dataStore" : {
      "module" : "INHERITED",
      "config" : { }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "sessionLogging" : false,
      "compositingWinManager" : false,
      "allowJsLink" : true,
      "javaFx" : false,
      "homeDir" : "${user.dir}",
      "theme" : "Murrine",
      "directdraw" : true,
      "debug" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "bookStore"
      },
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "allowStatisticsLogging" : true,
      "testMode" : false,
      "jsLinkWhitelist" : [ "*" ],
      "dockMode" : "ALL",
      "transferDir" : "${user}/upload",
      "transparentFileOpen" : true,
      "transparentFileSave" : true,
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "clearTransferDir" : true,
      "classPathEntries" : [ "/opt/app/lib/*.jar", "/opt/app/BookStore.jar" ]
    }
  }
}